# Flutter / iOS / Android generated & IDE files
.idea/
*.iml
android/.idea/
ios/.idea/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcshareddata/swiftpm/
*.xcuserstate

# Google Services JSON / plist (should be handled privately)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Flutter DevTools
devtools_options.yaml

# Xcode user data
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser

# CocoaPods
ios/Pods/
ios/Podfile.lock

# macOS
.DS_Store

# Build outputs
build/
.flutter-plugins
.flutter-plugins-dependencies
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/